In [1]:
from analytics.results import Results, Predictions
from analytics.visulisation import Visualisation

## This Week's Predictions

In [2]:
Predictions(user_predictions = "data/user_predictions/20_21/week7/week7userpredictions.csv",
        apple_predictions =
        "results/20_21/week7/7640a728-04fb-11eb-8c32-acde48001122_predicted_results.csv").show()

,HomeTeam,AwayTeam,Date,FixtureID,APPLE Prediction,Admin Prediction,Dev Prediction,Jordan Prediction,Leanne Prediction,Marvyn Prediction
0,Wolves,Crystal Palace,2020-10-30,58,A,D,H,H,D,A
1,Sheffield United,Man City,2020-10-31,59,A,A,D,A,A,A
2,Burnley,Chelsea,2020-10-31,60,A,A,A,A,A,A
3,Liverpool,West Ham,2020-10-31,61,H,A,H,H,H,H
4,Aston Villa,Southampton,2020-11-01,62,H,H,H,D,A,D
5,Newcastle,Everton,2020-11-01,63,A,H,A,A,A,A
6,Man United,Arsenal,2020-11-01,64,H,A,D,H,H,H
7,Tottenham,Brighton,2020-11-01,65,H,H,H,H,H,H
8,Fulham,West Brom,2020-11-02,66,H,H,A,A,D,D
9,Leeds,Leicester,2020-11-02,67,H,A,H,H,A,A

## Last Week's Results

In [3]:
Results(user_predictions = "data/user_predictions/20_21/week7/week7userpredictions.csv",
        apple_predictions =
        "results/20_21/week7/7640a728-04fb-11eb-8c32-acde48001122_predicted_results.csv").aggregate(
        ftrs = "data/ftrs/20_21/week7/ftrs.csv",
        winners_log = "data/aggregated_results/20_21/winners_log.csv", 
        aggregated_results_file = "data/aggregated_results/20_21/predictions_and_results_log.csv")

,Time,Week,HomeTeam,AwayTeam,FixtureID,APPLE Prediction,Admin Prediction,Dev Prediction,Jordan Prediction,Leanne Prediction,Marvyn Prediction,FTR
0,20:00:00,7,Wolves,Crystal Palace,58,A,D,H,H,D,A,H
1,12:30:00,7,Sheffield United,Man City,59,A,A,D,A,A,A,A
2,15:00:00,7,Burnley,Chelsea,60,A,A,A,A,A,A,A
3,17:30:00,7,Liverpool,West Ham,61,H,A,H,H,H,H,H
4,12:00:00,7,Aston Villa,Southampton,62,H,H,H,D,A,D,A
5,14:00:00,7,Newcastle,Everton,63,A,H,A,A,A,A,H
6,16:30:00,7,Man United,Arsenal,64,H,A,D,H,H,H,A
7,19:15:00,7,Tottenham,Brighton,65,H,H,H,H,H,H,H
8,17:30:00,7,Fulham,West Brom,66,H,H,A,A,D,D,H
9,20:00:00,7,Leeds,Leicester,67,H,A,H,H,A,A,A

Last week's results:

  Predictor Correct Predictions Week Accuracy of Predictions (%)
0     Admin                   7    7                          70
1    Leanne                   6    7                          60
2     APPLE                   5    7                          50
3    Jordan                   5    7                          50
4    Marvyn                   5    7                          50
5       Dev                   4    7                          40

This weeks' winner(s): Admin

results to date:

  Predictor Correct Predictions Accuracy of Predictions (%)
0    Leanne                  34                     50.7463
1    Marvyn                  33                     49.2537
2     APPLE                  32                     47.7612
3    Jordan                  30                     44.7761
4       Dev                  26                      38.806
5     Admin                  11                     16.4179
6       Ben                   0                           0

Overall winner(s): Leanne