In [2]:
from utilities.results import Results, Predictions

## Week 34 Predictions

In [4]:
Predictions(week = "week35").show()

,Fixture,Date,APPLE Prediction,DD Prediction,JR Prediction,MW Prediction
0,Man United v West Ham,NaN,H,NaN,D,H
1,Liverpool v Chelsea,NaN,H,NaN,H,A

## Running Resutls

In [2]:
Results(week = "week34").aggregate()

,Fixture,Date,APPLE Prediction,DD Prediction,JR Prediction,MW Prediction,FTR
0,Man United v Southampton,13/07/2020,H,D,X,H,D
1,Chelsea v Norwich,14/07/2020,H,H,H,H,H
2,Burnley v Wolves,15/07/2020,A,D,A,A,H
3,Man City v Bournemouth,15/07/2020,H,H,H,H,H
4,Newcastle v Tottenham,15/07/2020,H,H,A,D,A
5,Arsenal v Liverpool,15/07/2020,A,A,A,A,H
6,Everton v Aston Villa,16/07/2020,H,D,H,H,D
7,Leicester v Sheffield United,16/07/2020,D,D,A,D,H
8,Crystal Palace v Man United,16/07/2020,A,A,A,A,A
9,West Ham v Watford,17/07/2020,D,H,D,H,D

week34 results:

         Correct Predictions Accuracy of Predictions (%)
0     DD                   5                          50
1     JR                   5                          50
2  APPLE                   4                          40
3     MW                   3                          30

For week34 the winner is DD



results to date:

         Total Correct Predictions Accuracy of Total Predictions (%)
0     JR                        38                           53.5211
1  APPLE                        32                           45.0704
2     MW                        32                           45.0704
3     DD                        28                           39.4366

Overall the most accurate predictor is JR