In [2]:
from utilities.results import Results, Predictions

## Week 34 Predictions

In [3]:
Predictions(week = "week36").show()

,Fixture,Date,APPLE Prediction,DD Prediction,JR Prediction,MW Prediction
0,Arsenal v Watford,NaN,H,D,H,H
1,Burnley v Brighton,NaN,H,A,H,H
2,Chelsea v Wolves,NaN,D,D,D,D
3,Crystal Palace v Tottenham,NaN,A,D,A,A
4,Everton v Bournemouth,NaN,H,H,H,H
5,Leicester v Man United,NaN,H,H,A,A
6,Man City v Norwich,NaN,H,H,H,H
7,Newcastle v Liverpool,NaN,A,A,A,A
8,Southampton v Sheffield United,NaN,D,H,D,A
9,West Ham v Aston Villa,NaN,H,D,D,H

## Running Resutls

In [4]:
Results(week = "week35").aggregate()

,Fixture,Date,APPLE Prediction,DD Prediction,JR Prediction,MW Prediction,FTR
0,Man United v West Ham,NaN,H,NaN,D,H,D
1,Liverpool v Chelsea,NaN,H,NaN,H,A,H

week35 results:

         Correct Predictions Accuracy of Predictions (%)
0     JR                   2                         100
1  APPLE                   1                          50
2     DD                   0                           0
3     MW                   0                           0

For week35 the winner is JR



results to date:

         Total Correct Predictions Accuracy of Total Predictions (%)
0     JR                        40                           54.7945
1  APPLE                        33                           45.2055
2     MW                        32                           43.8356
3     DD                        28                           38.3562

Overall the most accurate predictor is JR