In [1]:
from utilities.results import results, predictions

## Week 30 Predictions

In [2]:
predictions(week = "week30").show()

,Fixture,Date,APPLE Prediction,DD Prediction,JR Prediction,MW Prediction
0,Watford v Leicester,20/06/2020,A,A,D,A
1,Brighton v Arsenal,20/06.2020,D,D,A,A
2,West Ham v Wolves,20/06.2020,A,A,A,A
3,Bournemouth v Crystal Palace,20/06.2020,A,H,A,H
4,Newcastle v Sheffield United,21/06/2020,A,D,A,A
5,Aston Villa v Chelsea,21/06/2020,A,A,A,A
6,Everton v Liverpool,21/06/2020,A,A,A,A

## Running Resutls

In [3]:
results(week = "week29").aggregate()

,Fixture,Date,APPLE Prediction,DD Prediction,JR Prediction,MW Prediction,FTR
0,Aston Villa v Sheffield United,17/06/2020,A,A,A,A,D
1,Man City v Arsenal,17/06/2020,H,H,H,H,H
2,Norwich v Southampton,19/06/2020,A,H,D,D,A
3,Tottenham v Man United,19/06/2020,H,A,A,A,D

week29 results:

         Correct Predictions Accuracy of Predictions (%)
0  APPLE                   2                          50
1     DD                   1                          25
2     JR                   1                          25
3     MW                   1                          25

For week29 the winner is APPLE



results to date:

         Total Correct Predictions Accuracy of Total Predictions (%)
0  APPLE                         2                                50
1     DD                         1                                25
2     JR                         1                                25
3     MW                         1                                25

Overall the most accurate predictor is APPLE